<div style="max-width: 960px; margin: 0 auto; display: flex; flex-direction: row; justify-content:center; flex-wrap: wrap; gap: 1em;">

    <mat-card *ngFor="let album of albums" style="width: 166px; cursor: pointer;" (click)="navigateAlbum(album.id)">

        <img mat-card-image src={{album.images[0].url}} >

        <mat-card-header>
            <mat-card-title>{{album.name}}</mat-card-title>
            <mat-card-subtitle><a *ngFor="let artist of album.artists">{{artist.name}}</a></mat-card-subtitle>
        </mat-card-header>

        

    </mat-card>



</div>