
<mat-card style="position: absolute; top: 0; left : 0; bottom: 0; right: 0; bottom: 0; margin: auto; z-index: 2; height: max-content; width: max-content;">
    <mat-card-title style="width: 100%;">Login</mat-card-title>


    <mat-card-content>
        <p>To use this app services, you need to login to your Spotify account.</p>

    </mat-card-content>
   
    <mat-card-actions style="display:flex; flex-direction: row; justify-content: end; width: 100%;">
        
        <a style="color: white; text-decoration: none; padding: auto; width: 60px; height: 40px; background-color: #c2185b; display: flex; border-radius: 4px; "  href="{{apiUrl + 'login'}}">
            <p style="margin: auto;">Login</p>
        </a>
    </mat-card-actions>
    

</mat-card>


