
<mat-card style="max-width: 400px; margin: auto auto; margin-top: 40vh;">
    <mat-card-title>Login</mat-card-title>


    <mat-card-content>
        <p>To use this app services, you need to login to your Spotify account.</p>

    </mat-card-content>
   
    <mat-card-actions style="display:flex; flex-direction: row; justify-content: end;">
        
        <a style="color: white; text-decoration: none; padding: auto; width: 60px; height: 40px; background-color: #c2185b; display: flex; border-radius: 4px; "  href="https://angular-spotify-api.vercel.app/login">
            <p style="margin: auto;">Login</p>
        </a>
    </mat-card-actions>
    

</mat-card>


